---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import nosotros from "../img/nosotros.jpg";
---

<Layout title="Nosotros" description="página de tienda de instrumentos musicales, guitarras, cursos, blog y más">
	<main class="contenedor">
	 	<h1 class="heading">Nosotros</h1>
        <div class="contenido">
            <Image src={nosotros} alt="imagen de nosotros" width={1000} height={800} />
        
        <div>
            <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nunc sed molestie ante, ut viverra dui. Praesent elit eros, bibendum eu iaculis eu, efficitur egestas nibh. Nullam a mattis nisl, vitae interdum odio. Vivamus nec nulla eleifend, ullamcorper lacus in, posuere orci. </p>

            <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nunc sed molestie ante, ut viverra dui. Praesent elit eros, bibendum eu iaculis eu, efficitur egestas nibh. Nullam a mattis nisl, vitae interdum odio. Vivamus nec nulla eleifend, ullamcorper lacus in, posuere orci. Pellentesque placerat, nibh quis euismod fermentum, neque lectus consequat enim, ut aliquam nibh ante ac neque.</p>
        </div>
        </div>
	</main>
</Layout>

<style>
    .contenido {
    display: grid;
    gap: 4rem;
}
@media (min-width: 768px) {
    .contenido {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }
}
</style>